body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
    }

.title {
    font-size: 30px;
    font-weight: bold;
    }

.move-icon {
    height: 70px;
    }

.move-button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50%;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    }